<div class="mat-typography">
  <mat-toolbar >
    <div style="width: 100%;display: inline-flex; justify-content: space-between;">
      <div>
        <a routerLink="/main" routerLinkActive="active">
          <span class="material-icons mystylebutton">ballot</span>
        </a> 

        <a routerLink="/about" routerLinkActive="active"> 
          <span class="material-icons mystylebutton">link</span>
        </a>
      </div>

      <div >
        <span class="mat-display-body">Yore Todos</span>
      </div>
    </div>
  </mat-toolbar>
    <!-- <app-rform></app-rform> -->
  <!-- <app-mynotes></app-mynotes> -->
  <router-outlet>
  
  </router-outlet>
</div>
